/* ─── Base ──────────────────────────────────────────────────────────────────── */
*, *::before, *::after { box-sizing: border-box; }

body {
  margin: 0;
  background: #f9fafb;
  font-family: sans-serif;
}

input:focus, select:focus, textarea:focus {
  outline: 2px solid #ea580c;
  outline-offset: 1px;
  border-color: #ea580c !important;
}

/*Variables css d'accessibilité */
:root {
  --text-zoom : 1;
  --grayscale : 0%;

}

html.high-contrast {
  filter : invert(1) hue-rotate(180deg)
}

img{
  filter: grayscale(var(--grayscale))
}

